/*CSS for the playground page */
.top-spacer {
	width: 100%;
	height: 40px;
}

.main-spacer {
	width: 100%;
	height: 20px;
}

.row-spacer {
	width: 100%;
	height: 10px;
}

.col-md-3 {
	text-align: center;
}

.col-md-12 {
	text-align: center;
}

.col-md-3 img {
	border: 0.5px solid black;
	box-shadow: 0px 3px 5px 6px #ccc;
}

.button {
    background-color: #a71930; /* Green */
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
	background-color: #000000;
	color: #a71930;
}